.form {
	margin: 0 auto;
	width: 470px;
	padding: 10px;
}

.form-large {
	margin: 0 auto;
	width: 1000px;
	padding: 10px;
}

.nav-menu {
	margin-top: 2%;
	margin-bottom: -3%;
}

.box {
	margin-top: 5%;
}

.floated-left {
	display:block;
	float:left;
	width: 450px;
}

.floated-right {
	display:block;
	float:right;
	width: 450px;
}

.scroll-table {  
    height: 240px !important;
    float: right;
    overflow: scroll;
}
